<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <!-- The content half -->
        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                        
                            <form [formGroup]="LoginForm" (ngSubmit)="valid(LoginForm.value)"> 
                                <div class="form-group mb-3">
                                    <input id="inputUser" name="inputUser" type="text" placeholder="User Name" value="" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4" formControlName="userName" />
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" name="inputPassword" type="password" placeholder="Password" value="" required="" class="form-control rounded-pill border-0 shadow-sm px-4 text-primary" formControlName="password" />
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input" formControlName="rmCheck" >
                                    <label for="customCheck1" class="custom-control-label">Remember password</label>
                                </div>
                                <div class="hideMe"><p>Invalid Login</p></div>
                                <button type="submit" data-analytics="LoginPassword" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign in</button>
                                
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
